.DS_Store
Thumbs.db
*.log
node_modules/
.deploy*/
_multiconfig.yml
.idea/
*.iml
2023/
about/
aboutme/
archives/
categories/
css/
friends/
guestbook/
images/
js/
lib/
photos
scaffolds/
schedule/
tags/

